<template>
    <md-card class="crickplay">
         <md-card-header>
            <md-card-header-text>
                <div class="md-subheading"  v-bind:class="{'blue': activePlayer==Player1Name}">{{Player1Name}}</div>
                <div><span class="md-title">{{totalRun1}}</span> <span class="md-subhead">({{overPlayer1}} overs)</span></div>
            </md-card-header-text>
            <md-card-header-text>
                <div class="md-subheading" v-bind:class="{'blue': activePlayer==Player2Name}">{{Player2Name}}</div>
                <div><span class="md-title">{{totalRun2}}</span> <span class="md-subhead">({{overPlayer2}} overs)</span></div>
            </md-card-header-text>
            <md-card-media>
                <img src="../assets/cricket-sm.jpg" alt="CrickP2P">
            </md-card-media>
        </md-card-header>
        <md-toolbar v-if="result" v-bind:class="{'md-accent': !decideWin}">
            <h2 class="md-title" style="flex: 1">{{Player1Name}} {{decideWin ? 'won by ' + (totalRun1 - this.totalRun2) : 'lost at ' + (totalRun2 - this.totalRun1)}} runs!!!</h2>
            <md-button class="md-raised" v-bind:class="[decideWin ? 'md-accent': 'md-primary']" v-on:click.native="newGame()">Start New</md-button>
        </md-toolbar>
        <md-card-actions v-else>
            <md-button class="md-fab md-fab-bottom-right" v-on:click.native="ballServe" :disabled="waitingToPlay">
                <md-icon class="md-size-2x">lens</md-icon>
                <md-tooltip md-direction="top">Run</md-tooltip>
            </md-button>
        </md-card-actions>
        <scores :data="scores"></scores>
    </md-card>
</template>

<script>
    import Scores from './Scores.vue'

    function* genRun() {
        let runs = [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 4, 4, 4, 6, 6];
        while (true) {
            yield runs[Math.floor(Math.random() * runs.length)];
        }
    }
    let run = genRun();

    function checkOver(ball) {
        let endover = (ball % 7 == 0);
        return {
            o: endover ? 1 : 0,
            b: endover ? 1 : ball
        };
    }

    export default {
        name: 'crick-play',
        components: {
            Scores
        },
        data() {
            return {
                totalRun1: 0,
                totalRun2: 0,
                currentRun: 0,
                currentOver: 0,
                currentBall: 0
            }
        },
        methods: {
            ballServe: function() {
                let s = checkOver(this.currentBall + 1);
                if (!s) s = checkOver(this.currentBall + 1);
                this.currentOver += s.o;
                this.currentBall = s.b;
                this.currentRun = run.next().value;
                this.totalRun1 += this.currentRun;
                let isEnd = (this.currentOver + 1 >= this.$parent.maxover && this.currentBall == 6) ||
                    (this.totalRun2 > 0 && this.totalRun1 > this.totalRun2)
                let score = {
                    end: isEnd,
                    username: this.Player1Name,
                    run: this.currentRun,
                    over: this.currentOver,
                    ball: this.currentBall,
                    total: this.totalRun1,
                    message: this.Player1Name + ' runs ' + this.currentRun + ' at ' + this.currentOver + '.' + this.currentBall
                }
                this.$parent.$socket.emit('send', score);
                //console.log(this.currentOver, this.currentBall);
                if (isEnd) {
                    console.log('endplayergame');
                    this.$parent.$socket.emit('endplayergame', this.Player1Name);
                }
            },
            newGame: function() {
                this.$session.destroy();
                window.location.reload(true);
            }
        },
        computed: {
            decideWin: function() {
                return this.totalRun1 > this.totalRun2;
            },
            Player1Name: function() {
                return this.$parent.playerName;
            },
            Player2Name: function() {
                let name = 'Unknown';
                if (this.$parent.players) {
                    let plyers = Object.keys(this.$parent.players);
                    if (plyers.length == 2) {
                        name = this.$parent.players[plyers.filter(id => id !== this.$parent.socketid)[0]];
                    }
                }
                return name;
            },
            activePlayer: function() {
                if (this.scores.length) {
                    return this.scores[0].username;
                }
                return this.Player1Name;
            },
            overPlayer1: function() {
                if (this.score && this.score.username == this.Player1Name) {
                    this.totalRun1 = this.score.total;
                    this.currentOver = this.score.over;
                    this.currentBall = this.score.ball;
                } else if (this.scores.length) {
                    let player1Scores = this.scores.filter(scr => scr.username == this.Player1Name);
                    if (player1Scores.length) {
                        this.totalRun1 = player1Scores[0].total;
                        this.currentOver = player1Scores[0].over;
                        this.currentBall = player1Scores[0].ball;
                    }
                }
                if (this.currentBall == 6) {
                    return this.currentOver + 1;
                }
                return this.currentOver + '.' + this.currentBall;
            },
            overPlayer2: function() {
                if (this.score && this.score.username == this.Player2Name) {
                    this.totalRun2 = this.score.total;
                    if (this.score.ball == 6) {
                        return this.score.over + 1;
                    }
                    return this.score.over + '.' + this.score.ball;
                } else if (this.scores.length) {
                    let player2Scores = this.scores.filter(scr => scr.username == this.Player2Name);
                    console.log(player2Scores);
                    if (player2Scores.length) {
                        this.totalRun2 = player2Scores[0].total;
                        return player2Scores[0].over + '.' + player2Scores[0].ball;
                    } else {
                        this.totalRun2 = 0;
                        return '0.0';
                    }
                } else return '0.0';
            },
            waitingToPlay: function() {
                return this.Player2Name == 'Unknown' ? true : this.$parent.lock;
            },
            score: function() {
                return this.$parent.score ? this.$parent.score : this.scores[0];
            },
            scores: function() {
                return this.$parent.scores;
            },
            result: function() {
                return this.$parent.result;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>