<template>
  <md-card class="crickstart">
    <md-card-media>
        <img src="../assets/cricket-sm.jpg" alt="CrickP2P">
    </md-card-media>
    <md-card-header>
        <div class="md-title">Crick-P2P</div>
        <div class="md-subhead">an online {{maxOver}} overs cricket game</div>
    </md-card-header>
     <md-card-content>
        <form novalidate @submit.stop.prevent="joinCricket">
            <md-input-container>
                <md-icon>account_circle</md-icon>
                <label>Player Name</label>
                <md-input v-model="playerName"></md-input>
            </md-input-container>
            <md-button type="submit" class="md-icon-button md-raised md-primary">
                <md-icon>add</md-icon>
            </md-button>
        </form>
     </md-card-content>
  </md-card>
</template>

<script>
    export default {
        name: 'crick-start',
        data() {
            return {
                playerName: '',
                maxOver: this.$parent.maxover
            }
        },
        methods: {
            joinCricket: function() {
                if (this.playerName.length > 0) {
                    this.$parent.$socket.emit('join', this.playerName);
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .md-card .md-card-media img {
        width: auto;
    }
</style>