<template>
    <md-list class="list md-dense">
        <template v-for="(scr, key, index) in data">
            <md-list-item v-if="scr.end">
                <h4 class="md-subheading blue">{{scr.username}} has total {{scr.total}} runs</h4>
                <md-divider></md-divider>
            </md-list-item>
            <md-subheader v-if="checkOver(scr.over)">{{scr.over + 1}} Over</md-subheader>
            <md-list-item>
                <span>{{scr.over}}.{{scr.ball}} - {{scr.username}} has run {{scr.run}}</span>
                <md-icon v-if="scr.run == 4" class="md-primary">star</md-icon>
                <md-icon v-if="scr.run == 6" class="md-accent">star</md-icon>
                <md-icon v-if="scr.run < 4 && scr.run > 0">star_border</md-icon>
            </md-list-item>
        </template>
</md-list>
</template>
<script>
    let flgover = -1;
    export default {
        props: ['data'],
        methods: {
            checkOver: function(over) {
                if (over != flgover) {
                    flgover = over;
                    return true;
                }
                return false;
            }
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .list {
        height: 100%;
        overflow-x: hidden;
        border-top: 1px solid rgba(0, 0, 0, .12);
        padding-bottom: 85px;
    }
</style>