<template>
    <div class="md-layout md-column md-align-center" id="appcrick">
        <div class="md-layout md-flex-75 md-flex-xsmall-100 md-flex-small-80 md-align-center">
            <div class="md-layout md-flex-30 md-flex-xsmall-100 md-flex-small-50">
                <crick-start v-if="!join"></crick-start>
                <crick-play v-else></crick-play>
            </div>
        </div>
        
        <md-snackbar :md-position="'bottom center'" ref="snackbar" :md-duration="3000">
            <span>{{notifyMsg}}</span><span></span>
            <md-button @click.native="$refs.snackbar.close()">
                <md-icon>clear</md-icon>
            </md-button>
        </md-snackbar>
    </div>
</template>

<script>
    import CrickStart from './components/CrickStart'
    import CrickPlay from './components/CrickPlay'

    export default {
        name: 'app',
        components: {
            CrickStart,
            CrickPlay
        },
        data() {
            return {
                socketid: null,
                players: null,
                join: false,
                playerName: '',
                maxover: 3,
                score: {},
                scores: [],
                lock: true,
                result: false,
                notifyMsg: ''
            }
        },
        methods: {
            notification(msg) {
                this.notifyMsg = msg;
                this.$refs.snackbar.open();
            }
        },
        sockets: {
            connected: function(data) {
                if (!this.socketid) {
                    this.notification(data.message);
                    console.log(data.message);
                    this.socketid = data.socketId;
                    if (!this.$session.exists()) {
                        this.$session.start();
                    } else {
                        let sessionData = this.$session.getAll();
                        this.playerName = sessionData['playerName'];
                        if (this.playerName) {
                            this.players = sessionData['players'];
                            this.scores = sessionData['scores'] || [];
                            this.score = this.scores.length ? this.scores[0] : {};
                            this.lock = sessionData['lock'];
                            this.result = sessionData['result'];
                            this.$socket.emit('join', this.playerName);
                        } else {
                            //this.$session.destroy();
                        }
                    }
                }
            },
            message: function(data) {
                if (data.message) {
                    if (data.othersocketmsg && data.socketId != this.socketid) {
                        this.notification(data.othersocketmsg);
                    } else {
                        this.notification(data.message);
                    }
                }
            },
            users: function(data) {
                //this.notification(data.message);
                if (data.usernames) {
                    this.players = data.usernames;
                    this.$session.set('players', data.usernames);
                }
            },
            joined: function(data) {
                this.notification(data.message);
                if (this.socketid === data.socketId) {
                    this.playerName = data.username;
                    this.join = true;
                    this.$session.set('playerName', data.username);
                    this.$session.set('join', this.join);
                } else {

                }
            },
            userleft: function(data) {
                console.log(data.message);
                this.notification(data.message);
                //this.lock = true;
                //this.$session.set('lock', this.lock);
            },
            score: function(data) {
                if (this.socketid !== data.socketId) {
                    console.log(data.score.message);
                    this.score = data.score;
                }
                //console.log(data.score);
                this.scores.unshift(data.score);
                this.$session.set('scores', this.scores);
            },
            unlock: function(data) {
                console.log('unlock', data);
                if (this.socketid === data.socketId) {
                    this.lock = false;
                    console.log(this.socketid, data.socketId, this.lock);
                } else {
                    this.lock = true;
                }
                if (!data.forse) {
                    if (this.$session.get('lock') === true)
                        this.lock = true;
                    else if (this.$session.get('lock') === false)
                        this.lock = false;
                    this.score = {};
                }
                this.$session.set('lock', this.lock);
            },
            endgame: function(data) {
                this.notification(data.message);
                this.lock = true;
                this.result = true;

                this.$session.set('lock', this.lock);
                this.$session.set('result', this.result);
            }
        }
    }
</script>

<style>
    #appcrick {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        height: 100vh;
    }
    
    .md-card {
        width: 100%;
    }
    
    .blue {
        color: #2196F3;
    }
</style>